.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 50px 96px 50px;
  background-color: #fff;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: circle;
}

.header__links-list-item {
  text-decoration: underline;
  white-space: nowrap;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
}

.header__link_active {
  list-style: none;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  align-items: flex-start;
  justify-self: end;
  margin-right: 15px;
}

/*for the whole page*/
.address__link {
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 165px 50px 207px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 130%;
  letter-spacing: 30%;
  text-transform: uppercase;
  display: block;
}

.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: absolute;
  right: 50px;
  bottom: 60px;
  left: 50px;
  z-index: 2;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 0px;
  color: #fff;
  font-size: 22px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  flex-shrink: 0;
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 40px;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 3;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}
.card__title-text {
  display: inline;
  border-bottom: 1px solid #fff;
  padding-bottom: 0px;
}

.card__text {
  position: relative;
  z-index: 3;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.card-link {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 312px 1fr;
  padding: 35px 0px 0px 67px;
  align-items: start;
  align-self: baseline;
  justify-content: start;
}

.about__column {
  padding-top: 100px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin-top: -100px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-bottom: 100px;
  margin-left: 5px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 693px;
  color: #000;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 180px 50px 0;
  font-size: 18px;
  line-height: 24px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: 200px;
  list-style: none;
  align-items: center;
}
.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  border-bottom: none;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-content: center;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}